p.footer {
  font-style: italic;
  text-align: center;
}

.flashy {
  font-style: italic;
  color: #ff0000;
}

.best {
  font-weight: bold;
}

.history {
  color: #0000ff;
}

.theory {
  color: #ff0000;
}

.emphasis {
  font-style: italic;
}

.opening {
  font-weight: bold;
  font-size: 18px
}

.sidebar {
  float: left;
  width: 30%;
  background-color: grey;
  padding: 10px;
}

img.illustration {
  float: right;
}
